@font-face {
    font-family: Satoshi;
    src: url("../src/assets/Font/Satoshi-Variable.ttf") format("truetype");
}

@import 'tailwindcss';
@plugin "daisyui";


body {
    font-family: Satoshi, sans-serif;
}